@font-face {
    font-family: Kelson Sans Bold;
    src: url(../fonts/Kelson_Sans_Bold.otf);
}

@font-face {
    font-family: Kelson Sans Regular;
    src: url(../fonts/Kelson_Sans_Regular.otf);
}

@font-face {
    font-family: Kelson Sans Light;
    src: url(../fonts/Kelson_Sans_Light.otf);
}

* {
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
}

html,body {
    background-color: rgba(0, 0, 0, 0);
}

body {
    margin: 0;
    font-family: Kelson Sans Bold;
    color: rgb(45, 49, 146);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#background_container {
    position: absolute;
    width: 100vw;
    height: 100vh;

    background-image: url(../img/background_empty_fall_17.png);
    background-size: cover;
    background-position: center;
    opacity: 1;
}

#background_container._transparent {
    opacity: 0;
}

div.logo_cnt {
    width: 70%;
    margin-left: 30%;
    padding-top: 20vh;
    text-align: center;
    position: relative;
    top: 0;
}

div.logo_cnt._moved_away {
    top: -60vh;
}

div.logo_cnt > h1,h2,h3 {
    margin: 0;
    margin-bottom: 0.1em;
    font-family: Kelson Sans Regular;
}

div.logo_cnt > h1 {
    font-size: 5.5em;
}

div.logo_cnt > h2 {
    font-size: 3.8em;
}

div.logo_cnt > h3 {
    font-size: 3em;
}


/* SMalled */
div.logo_cnt._smalled {
    top: -15vh;
}

div.logo_cnt._smalled > h1 {
    font-size: 4.8em;
}

div.logo_cnt._smalled > h2 {
    font-size: 3em;
}

div.logo_cnt._smalled > h3 {
    font-size: 2.2em;
}
/* --------*/

div.timer_cnt {
    opacity: 1;
    position: relative;
    top: -15vh;
    left: 15vw;
    width: 100%;
    text-align: center;
    display: block;

    font-family: Kelson Sans Bold;
}

div.timer_cnt > div {
    font-size: 3em;
}

div.timer_cnt > div > h1 {
    margin: 0;
    padding-top: 42px;
}

div.timer_cnt > div > h1:last-of-type {
    padding-bottom: 42px;
}

div.timer_cnt > div._mode_timer {
    display: flex;
    justify-content: center;
}

div.presenter_cnt {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 3em;
    padding-left: 2em;
    background-color: white;
    text-align: right;
    box-shadow: 0 0 10px rgba(0,0,0,0.5); 
}

div.presenter_cnt::before {
    content: url(../img/presenter-border-corner.png);
    background-color: transparent!important;
    position: absolute;
    display: inline-block;
    left: -18.7vw;
/*    box-shadow: 0 0 10px rgba(0,0,0,0.5); 
*/} 

div.presenter_cnt._moved_away {
    bottom: -30vh;
    right: -30vw;
}

div.timer_cnt._hidden {
    opacity: 0;
}
